nav {
  width: 100%;
  min-height: 80px;
  background-color: #FF5722;
  color: white;
}

.nav-list {
  display: flex;
  justify-content: flex-start;
  text-transform: uppercase;
  flex-wrap: wrap;
}

ul li.active {
  display: block;
  width: 100%;
  border-top: 1px solid white;
  padding: 10px;
}

.nav-list li {
  padding-right: 30px;
  font-size: 1.3em;
  padding-top: 30px;
}

.nav-list li a {
  color: white;
}

#brand {
  font-size: 2em;
  padding-top: 20px;
  padding-bottom: 10px;
  text-transform: none;
  display: block;
}

#toggle-nav {
  border: solid 1px white;
  border-radius: 10px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  display: none;
  position: absolute;
  top: 10px;
  right: 20px;
}

.line {
  margin: 8px auto;
  display: block;
  width: 90%;
  height: 2px;
  background-color: white;
}

@media (max-width: 700px) {
  .nav-list li {
    display: none;
  }
  .nav-list {
    padding-left: 0;
  }
  #toggle-nav {
    display: block;
  }
}
