/*basics styles for links*/
a {
  color: black;
}

a:hover {
  text-decoration: none;
  color: black;
}

/*basics styles for titles*/
h1,h2, h4,h5,h6 {
  text-align: center;
  color: #FF5722;
}

.main-title {
  margin: 50px 30px;
  font-size: 2.5em;
}

/*basics styles for lists*/
ul {
  list-style-type: none;
}

/*styles btns*/
button {
  padding: 10px 10px;
  border-radius: 3px;
  min-width: 100px;
  box-shadow: 0px 0px 2px 0px black;
  transition-duration: 0.4s;
}

button:active {
  transform: scale(1.10, 1.10);

}
