/*basics styles for links*/
a {
  color: black;
}

a:hover {
  text-decoration: none;
  color: black;
}

/*basics styles for titles*/
h1,h2, h4,h5,h6 {
  text-align: center;
  color: #FF5722;
}

/*basics styles for lists*/
ul {
  list-style-type: none;
}
