a {
	text-decoration: none;
}

ul {
	list-style: none;
	padding: 0;
}

.text-center {
	text-align: center;
}

.home-list {
	margin: 5px;
	border: 3px solid #545454;
	border-radius: 2px;
}

.home-list>p {
	text-align: center;
}
.home-list li {
	display: flex;
	align-items: center;
	background-color: #ECECEC;
	padding: 5px 10px;
	margin: 5px;
	transition: 0.3s;
}

.home-list a {
	color: #1e99fb;
}

.home-list li:hover {
	background-color: #CDCDCD;
}

.home-list>li:first-of-type {
	background-color: #545454;
	color: #fff;
	padding: 10px;
}


/*.flex-row {
	display: flex;
}*/